h1 {color: red;
}
h3 {color: black;
}
h1 {font-size: 300%;
}
h1 {text-align: center;
}
#mol {margin-left: 30%;
}
#con {margin-left: 30%;
}
#tete {margin-left: 30%;
}
#mol {width: 35%;
}
#con {width: 35%;
}
#tete {width: 40%;
}
#kaka {width: 30%;
}
#kaka {margin-left: 35%;
}
h2 {font-size: 200%;
}
h3 {font-size: 200%;
}

